
[include printer.override.cfg]
[include printer.base.cfg]
[include printer.macro.cfg]
[include printer.motor.cfg]

[extruder]
step_pin: eboard:PB14
dir_pin: eboard:PB15
enable_pin: !eboard:PB12
microsteps: 16
gear_ratio: 6.5:1
rotation_distance: 19.15
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: eheaterboard:PC6
sensor_type: Generic 3950
sensor_pin: eheaterboard:PC0
#control: pid
#pid_Kp: 45
#pid_Ki: 3
#pid_Kd: 35
#pwm_cycle_time: 0.1
min_temp: -200
max_temp: 350
min_extrude_temp: -200
pressure_advance:0.02
pressure_advance_smooth_time: 0.02
max_extrude_only_distance:500
max_extrude_cross_section:800
max_extrude_only_velocity:30
max_extrude_only_accel:5000
full_steps_per_rotation:200

[extruder1]
step_pin: eboard:PB14
dir_pin: eboard:PB15
enable_pin: !eboard:PB12
microsteps: 16
gear_ratio: 6.5:1
rotation_distance: 19.15
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: eheaterboard:PC7
sensor_type: Generic 3950
sensor_pin: eheaterboard:PA4
#control: pid
#pid_Kp: 28.717
#pid_Ki: 12.763
#pid_Kd: 16.153
#pwm_cycle_time: 0.1
min_temp: -200
max_temp: 350
min_extrude_temp: -200
pressure_advance:0.02
pressure_advance_smooth_time: 0.02
max_extrude_only_distance:500
max_extrude_cross_section:800
max_extrude_only_velocity:30
max_extrude_only_accel:5000
full_steps_per_rotation:200

[extruder2]
step_pin: eboard:PB14
dir_pin: eboard:PB15
enable_pin: !eboard:PB12
microsteps: 16
gear_ratio: 6.5:1
rotation_distance: 19.15
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: eheaterboard:PC8
sensor_type: Generic 3950
sensor_pin: eheaterboard:PA5
#control: pid
#pid_Kp: 28.717
#pid_Ki: 12.763
#pid_Kd: 16.153
#pwm_cycle_time: 0.1
min_temp: -200
max_temp: 350
min_extrude_temp: -200
pressure_advance:0.02
pressure_advance_smooth_time: 0.02
max_extrude_only_distance:500
max_extrude_cross_section:800
max_extrude_only_velocity:30
max_extrude_only_accel:5000
full_steps_per_rotation:200

[extruder3]
step_pin: eboard:PB14
dir_pin: eboard:PB15
enable_pin: !eboard:PB12
microsteps: 16
gear_ratio: 6.5:1
rotation_distance: 19.15
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: eheaterboard:PC9
sensor_type: Generic 3950
sensor_pin: eheaterboard:PA7
# control: pid
# pid_Kp: 28.717
# pid_Ki: 12.763
# pid_Kd: 16.153
#pwm_cycle_time: 0.1
min_temp: -200
max_temp: 350
min_extrude_temp: -200
pressure_advance:0.02
pressure_advance_smooth_time: 0.02
max_extrude_only_distance:500
max_extrude_cross_section:800
max_extrude_only_velocity:30
max_extrude_only_accel:5000
full_steps_per_rotation:200

[output_pin DC24V_CTL]
pin: eheaterboard:PA3
value: 1

[verify_heater extruder]
max_error: 400
check_gain_time:4000
hysteresis: 10
heating_gain: 10

[heater_bed]
heater_pin: PD2
sensor_type: Generic 3950
sensor_pin: PC3
pullup_resistor: 4700
#control: pid
#pid_Kp: 68.196
#pid_Ki: 0.834
#pid_Kd: 1393.753
#control: watermark
max_power: 1.0
min_temp: -100
max_temp: 130

[verify_heater heater_bed]       
max_error: 200                   
check_gain_time:4000              
hysteresis: 10                   
heating_gain: 5

[input_shaper]
#shaper_type_x: mzv
#shaper_freq_x: 49
#shaper_type_y: mzv
#shaper_freq_y: 80

# Save Mesh Data #

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh MESH_DATA]
#*# version = 1
#*# points =
#*# 	  0.034375, 0.061979, 0.095139, 0.143403, 0.136806, 0.145313, 0.138368, 0.146181, 0.143056, 0.206076
#*# 	  -0.038889, -0.034375, 0.020486, 0.058507, 0.073785, 0.105903, 0.100521, 0.128472, 0.122396, 0.161806
#*# 	  -0.106771, -0.039062, -0.015278, 0.022222, 0.035764, 0.070486, 0.062500, 0.084375, 0.092535, 0.123611
#*# 	  -0.120833, -0.097396, -0.047743, -0.001562, 0.013368, 0.019965, 0.021528, 0.024479, 0.069444, 0.079340
#*# 	  -0.135937, -0.077604, -0.063194, -0.016146, 0.017361, 0.008854, 0.010764, 0.021181, 0.027257, 0.063542
#*# 	  -0.144444, -0.107118, -0.085069, -0.048611, -0.026042, -0.015972, 0.016146, -0.003472, 0.020313, 0.018229
#*# 	  -0.125347, -0.095312, -0.071528, -0.059028, -0.052257, -0.044965, -0.033854, -0.012153, -0.039757, -0.016146
#*# 	  -0.105382, -0.084722, -0.070139, -0.046354, -0.044271, -0.043924, -0.056597, -0.037674, -0.036458, -0.027604
#*# 	  0.003472, 0.009722, -0.010590, -0.021875, -0.036632, -0.048437, -0.049479, -0.047396, -0.054167, -0.026042
#*# 	  0.134375, 0.097569, 0.088194, 0.026042, 0.013194, -0.040625, -0.050694, -0.049826, -0.044097, -0.027083
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.8
#*# min_x = 0.0
#*# max_x = 249.93
#*# min_y = 0.0
#*# max_y = 249.93000000000004
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 61.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 68.2
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.142
#*# pid_ki = 4.299
#*# pid_kd = 33.895
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 23.831
#*# pid_ki = 4.243
#*# pid_kd = 33.459
#*#
#*# [extruder2]
#*# control = pid
#*# pid_kp = 24.705
#*# pid_ki = 3.990
#*# pid_kd = 38.243
#*#
#*# [extruder3]
#*# control = pid
#*# pid_kp = 26.038
#*# pid_ki = 6.235
#*# pid_kd = 27.183
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 37.257
#*# pid_ki = 5.175
#*# pid_kd = 67.063
