/* zMod Wiki custom styles */

.edit-page-footer {
  margin-top: 1.5rem;
  padding: 0.75rem 0;
  font-size: 0.85rem;
  opacity: 0.75;
}

.edit-page-footer:hover {
  opacity: 1;
}

:root  > * {
  --md-primary-fg-color:        #006400;
  --md-primary-fg-color--light: #006400;
  --md-primary-fg-color--dark:  #006400;
}